Task1
-----------------

In [1]:
import h5py
f = h5py.File('../processed-pythia82-lhc13-all-pt1-50k-r1_h022_e0175_t220_nonu_withPars_truth.z', 'r')
f.keys()

In [2]:
treeArray = f['t_allpar_new'][()]
print(treeArray.dtype.names)

('j_ptfrac', 'j_pt', 'j_eta', 'j_mass', 'j_tau1_b1', 'j_tau2_b1', 'j_tau3_b1', 'j_tau1_b2', 'j_tau2_b2', 'j_tau3_b2', 'j_tau32_b1', 'j_tau32_b2', 'j_zlogz', 'j_c1_b0', 'j_c1_b1', 'j_c1_b2', 'j_c2_b1', 'j_c2_b2', 'j_d2_b1', 'j_d2_b2', 'j_d2_a1_b1', 'j_d2_a1_b2', 'j_m2_b1', 'j_m2_b2', 'j_n2_b1', 'j_n2_b2', 'j_tau1_b1_mmdt', 'j_tau2_b1_mmdt', 'j_tau3_b1_mmdt', 'j_tau1_b2_mmdt', 'j_tau2_b2_mmdt', 'j_tau3_b2_mmdt', 'j_tau32_b1_mmdt', 'j_tau32_b2_mmdt', 'j_c1_b0_mmdt', 'j_c1_b1_mmdt', 'j_c1_b2_mmdt', 'j_c2_b1_mmdt', 'j_c2_b2_mmdt', 'j_d2_b1_mmdt', 'j_d2_b2_mmdt', 'j_d2_a1_b1_mmdt', 'j_d2_a1_b2_mmdt', 'j_m2_b1_mmdt', 'j_m2_b2_mmdt', 'j_n2_b1_mmdt', 'j_n2_b2_mmdt', 'j_mass_trim', 'j_mass_mmdt', 'j_mass_prun', 'j_mass_sdb2', 'j_mass_sdm1', 'j_multiplicity', 'j1_px', 'j1_py', 'j1_pz', 'j1_e', 'j1_pdgid', 'j1_erel', 'j1_pt', 'j1_ptrel', 'j1_eta', 'j1_etarel', 'j1_etarot', 'j1_phi', 'j1_phirel', 'j1_phirot', 'j1_deltaR', 'j1_costheta', 'j1_costhetarel', 'j1_e1mcosthetarel', 'j_index', 'j_g', 'j_q', 'j_w', 'j_z', 'j_t', 'j_undef')

In [5]:
import pandas as pd
labels = ['j_g', 'j_q', 'j_w', 'j_z', 'j_t', 'j_undef']
df = pd.DataFrame(treeArray, columns = labels)
df

         j_g  j_q  j_w  j_z  j_t  j_undef
0          0    0    0    1    0        0
1          0    0    0    0    1        0
2          0    0    1    0    0        0
3          1    0    0    0    0        0
4          0    0    0    0    1        0
...      ...  ...  ...  ...  ...      ...
5119904    1    0    0    0    0        0
5119905    0    0    1    0    0        0
5119906    0    0    0    1    0        0
5119907    1    0    0    0    0        0
5119908    0    0    1    0    0        0

[5119909 rows x 6 columns]

From the above table we learned that there are 5119909 jets in total

In [10]:
j_q_val = df['j_q'].values
j_q_tagged = 0
for x in j_q_val:
    if x == 1:
        j_q_tagged += 1
j_q_tagged

777373

In [11]:
j_g_val = df['j_g'].values
j_g_tagged = 0
for x in j_g_val:
    if x == 1:
        j_g_tagged += 1
j_g_tagged

1390520

In [12]:
j_w_val = df['j_w'].values
j_w_tagged = 0
for x in j_w_val:
    if x == 1:
        j_w_tagged += 1
j_w_tagged

798451

In [13]:
j_z_val = df['j_z'].values
j_z_tagged = 0
for x in j_z_val:
    if x == 1:
        j_z_tagged += 1
j_z_tagged

834146

In [14]:
j_t_val = df['j_t'].values
j_t_tagged = 0
for x in j_t_val:
    if x == 1:
        j_t_tagged += 1
j_t_tagged

1319419

In [15]:
j_undef_val = df['j_undef'].values
j_undef_tagged = 0
for x in j_undef_val:
    if x == 1:
        j_undef_tagged += 1
j_undef_tagged

0

| Label | Number of jets | Description |
| :----: | :----: | :----: |
| Total | 5119909 | Total statistics |
| q | 777373 | Light (up, down, strange)-quark jet |
| g | 1390520 | Gluon jet |
| w | 798451 | W-boson jet |
| z | 834146 | Z-boson jet |
| t | 1319419 | Top-quark jet |
| undef | 0 | Undefined jet |